*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

html{
    min-height: 100vh;
}
body{
    background: radial-gradient(#90c695,#00e640) ;

}

h4 {
    color: #1e824c;
    font-size: 30px;

}

h1{
 color: #1e824c;
 text-align: center;
 font-size: 5em;
 font-family: 'Moo Lah Lah', cursive;
}

@media (max-width: 768px) {
    h1{
        font-size: 50px;
    }
}

.game-container {
    width: 50%;
    margin: 20px auto;
    perspective: 500px;
}

@media (max-width: 800px) {
    .game-container {
        width: 100%;
        padding: 5px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}

.game-container .game-info-container {
    display: flex;
    justify-content: space-between;
    font-family: 'Lobster', cursive;
    font-size: 2.5em;
    color: #26a65b;
}

.cards{
    display: grid;
    margin-top: 10px;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

.card {
    height: 180px;
    position: relative;
    display: flex;
    backface-visibility: hidden;
}

.card .card-face{
    width: 100%;
    height: 100%;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    transition: 0.5s ease-in-out;
    backface-visibility: hidden;
}

.card .card-front{
    width: 100%;
    height: 100%;
    transform: rotateY(-180deg);
    background: whitesmoke;
    border: 1px solid #333;
    border-radius: 12px;
}

.card .card-back {
    background: green;
    border: 1px solid rgb(87, 255, 36);
    border-radius: 12px;
    

}

.card .card-back:hover .corner{
    width: 50px;
}

.card.visible .card-back{
    transform: rotateY(-180deg);
}

.card.visible .card-front{
    transform: rotateY(0);
}

.corner{
    position: absolute;
    width: 40px;
    transition: width 0.3s ease-in-out;
}

.corner.top-left{
    transform: rotate(270deg);
    top: 0;
    left:0
}

.corner.top-right{
    top: 0;
    right:0;
}

.corner.bottom-left{
    bottom: 0;
    left: 0;
    transform: rotate(180deg);
}

.corner.bottom-right {
    bottom: 0;
    right: 0;
    transform: rotate(90deg);
}

.spider{
    width: 75%;
    height: 90%;
    transform: translateY(-30px);
    transition: transform 0.3s ease-in-out;
    cursor: pointer;
}

.card-back:hover .spider{
    transform: translateY(-22px);
}

.overlay{
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    justify-content: center;
    align-items: center;
    z-index: 100;
    display: none;
    flex-direction: column;
}

.overlay.visible{
    display: flex;
    animation: overlay-grow 1s forwards;
}

.menu {
    background: white;
    width: 40%;
    display: flex;
    flex-direction: column;
    padding: 20px;
    justify-content: space-between;
    background: rgba(0, 128, 0, 0.473);
    border-radius: 10px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
}

.menu ul {
    list-style: none;
}

.menu ul li {
    padding: 5px;
    margin: 4px;
    border-bottom: 2px solid rgba(255, 255, 255, 0.521);
    background: rgba(0, 128, 0, 0.726);
    border-radius: 5px;
    cursor: pointer;
}

.menu ul li:hover,
.menu ul li.active{
    background: rgba(255, 255, 255, 0.699);
    color: rgba(0, 128, 0, 0.582);
}

.menu .sound{
   margin: 10px auto;
   background: rgba(0, 128, 0, 0.4);
   font-weight: bold;
   width: 85px;
   padding: 8px;
   border-radius: 5px;
}

.start-btn {
    height: 40px;
    color: green;
    font-weight: bold;
    border-radius: 5px;
    border : none;
    cursor: pointer;
    font-size: 20px;
    margin-top: 10px;
}

@media (max-width: 768px) {
    .cards{
        grid-template-columns: repeat(2, 1fr);
    }

    .menu{
        width: 95%;
    }
    .game-info-container{
        font-size: 14px;
        flex-direction: column;
        align-items: center;
    }
}


@keyframes overlay-grow{
    0%{
        background: rgb(0, 0, 0);
    }
    100%{
        background-color: rgba(0, 0, 0, 0.8);
    }
}